---
layout: page
title: Potpourri
---

<div class="text-center">
    <p>
        A collection of my favorite photos from traveling.
    </p>
</div>

<section class="list">
    {% for post in site.posts %}
        {% if post.category == 'potpourri' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
        			<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

