<link rel="stylesheet" type="text/css" href="/gallery.css"/>
{% for image in page.images %}
        <div class="container" tabindex="0">
            <img src="/assets/images/gallery/{{ page.rel_path }}/{{ image.path }}" alt="{{ image.alt }}" class="image">
            <div class="overlay">
                <div class="text">
                    <p>
                        {% if image.title %}
                        <i>{{ image.title }},</i>
                        {% endif %}
                        {{ image.name }}
                    <br>
                        {{ image.loc }}
                    {% if image.loc2 %}
                        <br>
                        {{ image.loc2 }}
                    {% endif %}
                    <br>
                        {{ image.date }}
                    </p>
                    {% if image.desc %}
                        <p>
                            {{ image.desc }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endfor %} 